boto3>=1.40.0
strands-agents
strands-agents-tools 
strands-agents-builder
notebook
ddgs
bedrock-agentcore
bedrock-agentcore-starter-toolkit
uv
google-play-scraper
mcp
pillow>=10.0.0
pypdf>=3.15.0
requests>=2.31.0
python-dotenv>=1.0.0
pandas>=2.0.0
retrying
opensearch-py